<!DOCTYPE html>
<html lang="cs">
<head>
    <title>Ahoj</title>
</head>
<body>
    <h1>Index</h1>
Hi <span th:text="${name}"></span>!
<br>
<table>
    <tr>
        <th>Jmeno</th>
        <th>Prijmeni</th>
    </tr>
    <tr th:each="person : ${people}">
        <td th:text="${person.firstName}">few</td>
        <td th:text="${person.lastName}">fe</td>
    </tr>
</table>
<br>
<form th:action="@{/add}" method="post">
    <label for="firstName">FirstName: </label>
    <input id="firstName" type="text" name="firstName">
    <br>
    <label for="lastName">LastName: </label>
    <input id="lastName" type="text" name="lastName">
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>